*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow-x: hidden;
    color: white;
    font-family: "Josefin Sans", serif;
    font-size: 1rem;
}

main {
    height: 100vh;
    width: 100vw;
}

.scrollify {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    height: 100vh;
}

.scrollify>section {
    scroll-snap-align: start;
}

button.logo_reload {
    mix-blend-mode: exclusion;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    cursor: pointer;
    transition: 0.5 ease;
    background: none;
    border: none;
}

button.logo_fav {
    top: 0;
    left: 0;
    fill: rgba(255, 255, 255, 0);
    position: fixed;
    mix-blend-mode: exclusion;
    background: none;
    cursor: pointer;
    margin: 30px;
    border: none;
}

.link {
    position: fixed;
    color: white;
    mix-blend-mode: exclusion;
    bottom: 0;
    z-index: 3;
    margin: 30px;
    text-decoration: none;
}

button.logo_fav:hover svg {
    fill: rgba(255, 255, 255, 0.5);
    transition: 0.5 ease;
}

button.logo_fav_filled {
    top: 0;
    left: 0;
    position: fixed;
    mix-blend-mode: exclusion;
    background: none;
    cursor: pointer;
    margin: 30px;
    border: none;
}

button.logo_fav_filled svg {
    transition: 0.5 ease;
    fill: rgba(255, 255, 255, 1);
}


div.theme_color {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    top: 0;
    left: 0;
}

h1 {
    font-family: "Climate Crisis", serif;
    text-transform: uppercase;
    font-size: 7rem;
    display: block;
    mix-blend-mode: exclusion;
    width: fit-content;
    margin: auto;
    padding: 20px 40px 0 40px;

}

p.rules {
    font-family: "Josefin Sans", serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    mix-blend-mode: exclusion;
    padding: 0 40px;
}

/* pick the color */

section.pick {
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section.section_circle {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    z-index: -1;
}

.title_mobile {
    display: none;
}

div.circle {
    width: 80vh;
    height: 80vh;
    border-radius: 500px;
    position: relative;
}

section.sliders {
    display: flex;
    padding: 70px;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}

section.sliders div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

p.r_g_b_title {
    font-size: 3rem;
    font-family: "Climate Crisis", serif;
    text-align: center;
    mix-blend-mode: exclusion;
    text-transform: uppercase;
}

p.color_value {
    font-size: 6rem;
    text-align: center;
    font-family: "Climate Crisis", serif;
    text-align: center;
    mix-blend-mode: exclusion;
}

input[type=range] {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
}

section.check_pick {
    mix-blend-mode: normal;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Climate Crisis", serif;
    text-transform: uppercase;
    font-size: 20rem;
    align-items: center;
    justify-content: center;
    background: rgba(1.0, 1.0, 1.0, 0.8);
    z-index: 1000;
}


/* name the color */

section.name .title {
    min-height: 100vh;
    padding-top: 60px;
    background-color: white;
    mix-blend-mode: exclusion;
}

section.name .title {
    min-height: 50vh;
}

section.name .guesses {
    min-height: 50vh;
}

form.all_button_guess {
    display: flex;
    width: 75%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

form.all_button_guess div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    height: 30%;

}

input[type=button].button_guess {
    font-family: 'Climate Crisis';
    text-transform: uppercase;
    background-color: rgba(1.0, 1.0, 1.0, 0.0);
    border: none;
    font-size: 4rem;
    color: white;
    mix-blend-mode: exclusion;
    cursor: pointer;
}

/* hexacode */

section.hexacode {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hexacode div {
    width: 100vw;
    height: 100vh;
    border-top: 20vh solid;
    border-bottom: 20vh solid;
    display: flex;
    mix-blend-mode: exclusion;
}

section.hexacode h1 {
    text-align: center;
}

/* my_fav */

.my_fav {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.fav_color_grid {
    position: fixed;
    display: grid;
    width: 100%;
    height: 100%;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0;
    grid-auto-flow: dense;
    top: 0;
}
.no_fav{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_fav p{
    color: white;
    mix-blend-mode: exclusion;
}

.fav_color_box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav_color_box p {
    transition: opacity 0.3s ease;
    color: white;
    mix-blend-mode: exclusion;
}

.logo_fav_filled_grid{
    fill: rgba(255, 255, 255, 1);
    mix-blend-mode: exclusion;
    background: none;
    cursor: pointer;
    margin: 30px;
    border: none;
}

.logo_fav_filled_grid svg{
    fill: rgba(255, 255, 255, 1);
}

.logo_fav_filled_grid svg:hover{
    fill: rgba(255, 255, 255, 0.5);
}

/* responsive */

@media (max-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
    p.r_g_b_title {
        font-size: 2rem;
    }
}

@media (max-width: 1400px) {
    p.color_value  {
        font-size: 3.5rem;
    }
}

@media (max-width: 1100px) {
    section.sliders  {
        width: 90%;
        padding: 40px;
    }
}

@media (max-width: 950px) {
    section.sliders  {
        padding: 40px;
        gap: 40px;
        flex-wrap: wrap;
        margin: 0;
    }
    section.sliders div {
        width: 50vw;
    }

    .title_mobile {
        display: block;
        font-size: 2rem;
        margin: 0;
        padding: 0 40px 10px 40px;
        text-align: center;

    }
    .title_desktop {
        display: none;
    }

    div.circle{
        width: 70vw;
        height: 70vw;
    }
    p.r_g_b_title {
        font-size: 3rem;
    }
    p.color_value  {
        font-size: 4rem;
    }
    
    section.pick{
        padding-top: 20px;
    }

    h1 {
        font-size: 3rem;
    }

    .fav_color_grid{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .fav_color_box {
        min-height: 25vh;
    }
}

@media (max-width: 600px) {
    p.color_value  {
        font-size: 2em;
    }

    p.r_g_b_title {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    section.sliders div {
        width: 70vw;
    }
    p.rules {
        font-size: 0.7rem;
    }
}
